@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan/Spartan-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
header {
  -webkit-backdrop-filter: blur(12px);
}
strong {
  @apply font-bold;
}
.h1Tit {
  @apply text-5xl font-semibold leading-relaxed tracking-widest md:text-[28px];
}
.h1Tit::after {
  @apply m-auto block h-1.5 w-6/12 rounded bg-[#0094FF] content-[''] md:h-1;
}
/* .calc-100 { height: calc(100vh - 65px);} */
.calc-min-100 {
  min-height: calc(100vh - 65px);
}
.hover-img::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -20px;
  display: block;
  width: 20px;
  height: 21.5px;
  background-image: url('/hover.svg');
  background-size: cover;
  opacity: 0;
}
.hover-img:hover::before {
  opacity: 1;
}
.linkNav::after {
  @apply m-auto block h-0.5 w-6/12 bg-[#000000] opacity-0 duration-300 content-[''];
}
.linkNav:hover::after {
  @apply m-auto block h-0.5 w-6/12 bg-[#000000] opacity-100 duration-700;
}
.container {
  max-width: 1280px;
}
.text-14 {
  @apply text-sm;
}
.space > ul > li {
  @apply mt-3 first:mt-0;
}
.custom-font-features {
  text-rendering: optimizeLegibility;
  letter-spacing: 0.06em;
  font-weight: 300;
}
.isActive {
  @apply text-skyblue;
}
.aricleContents > h2 {
  @apply relative mt-16 pl-6 text-[1.625rem] font-bold md:text-2xl;
}
.aricleContents > h2::before {
  @apply absolute left-0 top-0 block h-full w-1 rounded bg-skyblue content-[''];
}
.aricleContents > h3 {
  @apply mt-9 text-[1.375rem] font-bold md:text-lg;
}
.aricleContents > ul,
.aricleContents > div[data-filename],
.aricleContents > pre {
  @apply mt-9;
}
.aricleContents > p {
  @apply mt-9 text-lg leading-8 md:text-base md:leading-7;
}
.aricleContents > p > code {
  @apply bg-[#215aa012] rounded p-1.5 text-sm;
}
.aricleContents > p > a {
  @apply break-words underline hover:opacity-60;
}
.aricleContents > ul > li {
  @apply relative pl-5 text-lg leading-8 md:pl-4 md:text-base md:leading-7;
}
.aricleContents > ul > li > .indent {
  @apply absolute left-0 top-0;
}
.aricleContents > div[data-filename] > .filename {
  @apply inline-block rounded-t bg-[#dfdfdf] px-4 py-1 text-center;
}
.aricleContents > pre {
  @apply overflow-x-scroll rounded p-3.5;
}

.aricleContents > div[data-filename] > pre {
  @apply overflow-x-scroll rounded-ee-lg rounded-es-lg rounded-se-lg p-3.5;
}
.aricleContents > figure {
  @apply mt-9 text-center;
}
.aricleContents > figure > figcaption {
  @apply mt-4;
}
.aricleContents > figure > img {
  @apply m-auto;
}

@media screen and (max-width: 768px) {
  .hover-img::before {
    width: 16px;
    height: 17.5px;
    top: -10px;
    right: -18px;
  }
}
